.accordion {
    background: inherit;
    color: aliceblue;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

h2:after {
    border-radius: 20px;

}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 20px 20px;
    background: inherit;
}