@media (max-width: 750px) {
    .info {
        height: 100%;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 32px;
    }

    .set_lang img {
        width: 40px;
    }
}

@media (max-width: 650px) {
    .info {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }

    .info_text {
        margin-left: 0;
    }

    .form-row {
        display: block;
        width: 100%;
    }

    .form-row .form-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .sidebar {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .contacts {
        width: 215px;
    }

    .btn {
        width: 100%;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 28px;
    }

    .set_lang img {
        width: 35px;
    }

    .img_links img:hover,
    .inline img:hover {
    cursor: pointer;
    transform: none;
    transition: none;
    filter: none
}
}